[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
opencv-python = "*"
pyperclip = "*"
keyboard = "*"
tk = "*"
pystray = "*"
cx-freeze = "*"
tinywintoast = "*"
setuptools = "*"
configparser = "*"
screeninfo = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.9"
